#logo {
    width: 55px;
    height: auto;
    float: left;
    margin-right: 20px;
}

table {
    margin-top: 10px;
    border: 1px solid black;
}

thead {
    background-color: darkslategray;
    color: lightgray;
    font-weight: ;
}

#name {
    color: 	#0198E1;
}

#team {
    font-weight: bold;

}

@font-face {
    font-family: circular;
    src: "static/fonts/circular.ttf";
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis {
  font-size: 11px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}