{% extends "base.html" %}
{% block content %}
    <link href="static/css/blog_post_1_style.css" rel="stylesheet" media="screen">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="page-header center">
                <h1>Lineup Recommender <small>&laquo;Blog Post 1&raquo;</small></h1>
            </div>

            <h2>Introduction</h2>
            <p>This week we set out to accomplish 2 goals:</p>
            <ol>
                <li>Setup the data to perform projections
                <li>Make some projections
                <li>Complete the lineup optimization algorithm
            </ol>

            <h2>Part 1: Setting up Data</h2>
            <p>Vann fill this up please. Go into gory detail.</p>

            <hr>

            <h2>Part 2: Project Fantasy Scores</h2>
            <p>JJ and Steffani fill this up please.</p>

            <hr>

            <h2>Part 3: Lineup Optimization Algorithm</h2>
            <p>
                
            </p>
        <div class="col-md-2"></div>
    </div> 
{% endblock %}