{% extends "base.html" %}
{% block content %}
    <link href="static/css/blog_post_1_style.css" rel="stylesheet" media="screen">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="page-header center">
                <h1>Lineup Recommender <small>&laquo;Blog Post 3&raquo;</small></h1>
            </div>

            <h2>Introduction</h2>
            <p>This week we set out to accomplish 3 goals:</p>
            <ol>
                <li>Store game log data in Redis for quick access</li>
                <li>Improve projections</li>
                <li>Improve visualizations</li>
            </ol>

            <h2>Part 1: Redis</h2>
            <p> We store our game logs in Redis. There are 1065 keys in the database, where each key is a stattleship player id. The informaton that each player id has include: whether or not they are active, years of experience, name, weight and height.
            </p>

            <p> Here is how the player id's are stored: <br>
                <img class="img-responsive" src="static/images/redis_players.png"></img><br>
                Here is the stored information about each player id: <br>
                <img class="img-responsive" src="static/images/redis_player_fields.png"></img>
            </p>
            <hr>

            <h2>Part 2: Projections</h2>
            <p>We were not sure if we should predict the fantasy score directly or if we should predict each stat that contributes to the fantasy score separately and then calculate the fantasy score from those projections. After thinking about it a little more we realized that predicting each stat could be better because it gives us more fine grained control over the features that are used to predict them. More specifically, the height of the player would effect his ability to rebound but not necessarily his ability to score points and therefore predicting rebounds and points separately and using only the relevant features for each can give us better results. After confirming this with our mentor, we started working with our data and tranforming it into a format </p>
            
            <hr>

            <h2>Part 3: Visualizations</h2>
            <p> We improved the visualization this week to include more than just the lineup. The table below shows the projected FanDuel scores along with the projected points, steals, blocks, turnovers, and rebounds of the player. Directly below the table is a grouped bar chart that shows the projected FanDuel score, the projected points, and the projected assits (this can be easily extended to include other stat groups as well). When a table row is hovered upon, the bar chart changes into a line chart that shows how that specific player's FanDuel score has changed over time. When the mouse leaves the row of the table, the line chart turns back into the bar chart of before.</p>

            <script src="static/js/viz3.js"></script>

            <div id="lineup-table">
            </div>

            <div id="viz">
            </div>

        <div class="col-md-2"></div>
    </div> 
{% endblock %}