{% extends "base.html" %}
{% block content %}
    <link href="static/css/index.css" rel="stylesheet" media="screen">
    <div class="row">
        <div class="container">
            <div class="page-header center">
                <img id="logo" src="static/images/logo.png"></img>
                <h1>Lineup Recommender</h1>
             </div>
                <script src="static/js/final_viz.js"></script>

	            <div id="lineup">
	              <table class="table table-striped" align="center" style="width:100%;" id="chart">
	                <thead>
	                  <tr>
	                    <th>Position</th> 
	                    <th>Name</th>
	                    <th>Game</th>
	                    <th>Projection</th>
	                    <th>Salary</th>
	                  </tr>
	                </thead>
	                <tbody>
	                </tbody>
	              </table>
	            </div>
	            <div id="viz">
        		</div>
        </div>
    </div>
{% endblock %}