{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="page-header center">
                <h1>Home Page</h1>
            </div>

            <h2>Overview</h2>
            <p>
                <a href="/midterm_report">Midterm Report</a>
                <a href="/blog_post_1">Progress Report 1</a>
                <a href="/blog_post_2">Progress Report 2</a>
                <a href="/blog_post_3">Progress Report 3</a>
                <a href="/home">Home</a>
            </p>
        <div class="col-md-2"></div>
    </div> 
{% endblock %}