{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="page-header center">
                <h1>Lineup Recommender <small>&laquo;Writeup&raquo;</small></h1>
            </div>

            <h1>Midterm Report</h1>
            <h2>Part 1: Introduction</h2>
            <p>For our project, we decided to analyze NBA player scores per game in order to find optimal fantasy basketball lineups. We want to look at a player's historical game performance and then predict the performance of that player in a future game. We can then take these projected scores to recommend the optimal lineup of players to use for sites like FanDuel and DraftKings. Below are some specific questions we're hoping to tackle in the process.</p>
            <ul>
                <li>Can we consistently predict the performance of low variance players? If so, we should tend to lean towards selecting low variance players.
                <li>Can we predict success of low salary players who have a high variance in their performances? This would help us replace the least useful high salary players and consequently give us better odds of winning contests because most users tend to choose high salary players.
                <li>Can we incorporate metrics like the team the player is playing against, whether they are playing at home or away, etc. into our prediction model? If so, can we determine what subset of these metrics provides best results and why?
            </ul>
            <p>The NBA player data is obtained from the NBA website. It contains the player scores, with each entry representing a particular player's score for a particular game. Each player's score is broken down into their 3-point and 2-point goals, freethrows, steals, blocks, rebounds, assists, and turnovers.</p>
            
            <p>We also obtain data from Swish Analytics, which provides player score projections based on their own models. We use this data as an example to compare with the projections we make.</p>

            <h2>Part 2: Visualization</h2>
            <img src="../images/mainviz.png" style="width:458px;height:458px;"></img>
            <img src="../images/tooltip1.png" style="width:470px;height:458px;"></img>
            <img src="../images/tooltip2.png" style="width:470px;height:458px;"></img>

            <h3>Overview</h3>
            <p>
                This visualization shows a basketball chart, where each circle represents a player on their strong positions. It gives recommendation on which player to choose for a specific position. When hovering over each circle, i.e. each player, there's a tooltip that tells information about the player, such as their salary, position, projected points, and team name. The color scale also gives information as to which player is projected to earn the most points - darkest representing most points.

            </p>

            <h3>Data Used</h3>
            <p>
                First, data about players and games are scraped from NBA. Data about daily projected points for players are taken from Swish Analytics. These two pieces of data are combined together and stored in Redis.
             
            </p>

            <h3>How to get an optimal lineup</h3>
            <p> 
                First, the players are sorted by their projected points from highest to lowest. With the sorted list, the players are filtered by their salary and injury status. In order for them to be in the lineup, they have to have salary less than or equal to 60,000/9 and have no injury. We want to recommend players whose salary is affordable and performs well.

                There are 9 players in a lineup - one in the Center position, and 2 players in other positions each.

                Then, for this visualization, we pick the player with the highest point from each position. Thus, the visualization recommends 5 players for 5 positions.
            </p>


            <h2>Part 3: Machine Learning</h2>
            <p>Once we have our NBA player data, we can apply machine learning to predict projected player scores. We decided to use logistic regression as our learning algorithm.</p>
            <p>We transform our player data from their goals, freethrows, assists, etc. into a single FanDuel score. Then, we associate each player's FanDuel score for a game with the average FanDuel score of their prior games</p>

            <h2>Discussion</h2>
            <p></p>

            
        <!-- In case this is legit
            <pre>
            &lt;html&gt;
                &lt;head&gt;
                    &lt;title&gt;Title goes here&lt;/title&gt;
                &lt;/head&gt;
                &lt;body&gt;
                    &lt;p&gt;This is a basic web page!&lt;/p&gt;
                &lt;/body&gt;
            &lt;/html&gt;
            </pre>
        -->
            

            <hr> <!-- In case you haven't noticed, this is a horizontal rule. It makes a horizontal line in the page. -->
        <div class="col-md-2"></div>
    </div> 
{% endblock %}